.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.cookie-count {
  font-size: 3rem;
  text-align: center;
}

.cookie-controls {
  margin-top: 2rem;
}

.cookie-controls button {
  font-size: 2rem;
  margin: 0 1rem;
}

.cookie-decor {
  display: flex;
  max-height: 5rem;
  margin-bottom: 1rem;
}

.cookie-decor img {
  display: block;
  object-fit: contain;
  flex: 0 0 auto;
  width: 50%;
}

.cookie-decor {
  display: flex;
  max-height: 5rem;
}

.cookie-decor img {
  display: block;
  object-fit: contain;
  flex: 0 0 auto;
}
